altgraph==0.17.4
astroid==4.0.2
dill==0.4.0
isort==7.0.0
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
mutagen==1.47.0
packaging==24.2
platformdirs==4.5.1
prompt_toolkit==3.0.52
Pygments==2.19.2
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
rich==14.2.0
setuptools==75.8.2
tomlkit==0.13.3
wcwidth==0.2.14
